div{
    width: 200px;
    height: 200px;
    background-color: red;
    transition-timing-function:ease-in;
    transition-property: all;
    transition-delay: 1s;
    transition-duration: 1s;
    position: relative;
    top: 20px;
    bottom: 20px;
    left: 10px;

}
div:hover{
    color: aliceblue;
    background-color: green;
    transition: all 2s;
}